@media (max-width:1350px) {
    .main-section {
        margin: 11.6vh 10% 0px;
    }

    .questions {
        margin: 148px 10%;
    }

    .questions__heading {
        margin-bottom: 10px;
    }
    .card {
        width: 47%;
    }
    .more-questions {
        margin: 150px 10%;
    }
}

@media (max-width:1024px) {
    .main-section {
        margin: 11.6vh 7% 0px;
    }
    .questions {
        margin: 148px 7%;
    }
    .more-questions {
        margin: 150px 7%;
    }
}
@media (max-width:870px) {
    .main-section__button {
        width: 60%;
    }
    .questions__title {
        flex-direction: column;
        align-items: flex-start;
    }
    .questions__button {
        width: 32%;
        margin-top: 10px;
    }
    .card {
        padding: 0px 40px;
    }
}

@media (max-width:720px) {
    .main-section__illustration {
        display: none;
    }
    .main-section__text {
        margin: 8px 0px 15px;
    }
    .main-section__button {
        width: 40%;
    }
    .questions {
        margin: 100px 7%;
    }
    .questions__button {
        width: 45%;
    }
    .card {
        width: 100%;
        height: 170px;
    }
    .more-questions {
        margin: 100px 7%;
    }
    .answer p{
        width: 70%;
    }
}

@media (max-width:450px) {
    .main-section__button {
        width: 60%;
    }
    .questions__button {
        width: 65%;
    }
    .card {
        padding: 0px 20px;
        height: 190px;
    }
    .answer p{
        width: 80%;
    }
}
